@main{
    <div class="jumbotron">
        <h2><b>Bienvenidos a la Version 1.0 de ButtonApp</b></h2>
        <p>Por ahora la aplicación cuenta solamente con una funcionalidad: Recibir órdenes.</p>
        <p>Las órdenes las recibe por la URL /orders/new/:tableNumber/:command</p>
        <h3><b>Valores posibles para command:</b></h3>
        <div class="list-group">
            <li>@Order.BILL</li>
            <li>@Order.SERVICE</li>
            <li>@Order.MENU</li>
            <li>@Order.CLOSE</li>
        </div>
        <br>
        <p>Esto será suficiente para realizar las pruebas necesarias.</p>

    </div>
}